<div class="move-container @(IsSelected ? "move-container-selected" : "")" 
     @onclick="@(() => OnSelect?.Invoke())" >

    @(Move.SequenceNumber). @BoardDetails.GetCellName(Move.From)-@BoardDetails.GetCellName(Move.To)

</div>
