

.moves-navigator {
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 25vmin;
}

.moves-container {
    display:flex;
    flex-flow:row wrap;
    padding: 5px;
}

.navigator-controls-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.navigator-controls-container > button {
    width:100%;
    white-space: nowrap;
}

    .navigator-controls-container > button:nth-child(n+2) {
        margin: 0 0 0 5px;
    }