@page "/game/{GameId}"

<h3>Game: @GameId</h3>

<div class="game-container">

    <div class="boardview-container">
        <BoardView GameId="@GameId" BoardViewModel="@BoardViewModel" />
    </div>

    <MovesView BoardViewModel="@BoardViewModel" />

</div>


