:root {
    --cell-color-even: white;
    --cell-color-odd: green;
}

.board {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    user-select: none;
}

    .row > div {
        width: 64px;
        height: 64px;
        user-select: none;
    }

.row-even {
    
}

    .row-even > div:nth-child(odd) {
        background: var(--cell-color-even);
    }

    .row-even > div:nth-child(even) {
        background: var(--cell-color-odd);
    }

.row-odd {
    
}
    .row-odd > div:nth-child(odd) {
        background: var(--cell-color-odd);
    }

    .row-odd > div:nth-child(even) {
        background: var(--cell-color-even);
    }

.game-container {
    display: flex;
    flex-direction: row;
}

.game-container > div:nth-child(n+2) {
    margin-left: 20px;
}

.moves-container > div:nth-child(n+1) {
    margin-left: 2px;
}

